*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: linear-gradient(to bottom right , rgb(219, 151, 55), rgb(233, 230, 79));
}
.text-red{
  color: red;
}
.header-component{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column ;
  height: 100px;
  background-color: lightgray;
}
.footer-component{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(194, 193, 193);
}


.main-center-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 158, 158);
  width: 100%;
}

.main-right-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(148, 141, 141);
  width: 400px;
}

.main-left-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 222, 222);
  width: 400px;
}

.main-section{
  display: flex;
  width: 100%;
  height: 40rem;
}

.Counter{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.counter-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 80vh;
}

.btn{
  width: 60px;
  height: 60px;
  margin: 0 20px;
  background-color: rgb(92, 194, 205);
  font-size: 30px;
  outline: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}

.btn:hover{
  border: 2px solid red;
}
.counter-text{
  font-size: 60px;
}

.reset-btn{
  width: 200px;
  border-radius: 6px;
  height: 47px;
  background-color: lightseagreen;
  outline: none;
  font-size: 28px;
  cursor: pointer;
}

.reset-btn:hover{
  border: 3px solid red;
}